body{
    font-family: 'Noto Sans Japanese', sans-serif;
    background-color: #ebedf1;
}

.main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    height: 81vh;
    text-align: center;
    margin-top: 2.3%;
    border-radius: 6px;
    background-color: #fbfbfb;
    box-shadow: 7px 7px 21px -16px rgba(0,0,0,0.1);
}

.box1 {
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
}

.icon {
    width: 40px;
    height: 40px;
}

.chart {
    width: 40%;
    margin: 0 auto;
}

@media screen and (min-width:1200px) {
    .box1 {
        width: 65%;
    }   

    .chart {
        width: 80%;
        margin: 0 auto;
    }

}
@media screen and (max-width:600px) {
    .box1 {
        text-align: center;
        
    }   
    body {
        background-color: #fbfbfb;
    }
    .chart {
        width: 100%;
        margin: 0 auto;
    }
}
.box1 a {
    display: block;
    padding: 10px; 
    margin: 10px;
    background: #eee;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

.box1 a:hover {
    background: #ddd;
}

.category {
    margin: 20px 0;
}

.category p {
    font-size: 180%;
    font-family: 'Noto Sans Japanese', sans-serif;
}
